<div class="py-8 text-center text-white md:py-10 bg-tertiary">
	<div class="max-w-lg p-4 mx-auto">		
		<p class="h1">Get in touch</p>
		<p>We offer free consultations so get in touch with us today and we’ll be happy to help</p>

		<div class="my-8">
			<a href="tel:{{options.default_phone_number}}" class="btn btn--outline-white" onClick="gtag('event' , 'click' , { 'event_category' : 'Number footer link', 'event_label' : 'Number Footer Link' });">Call us on {{options.default_phone_number}}</a>
			<span class="block p-2 md:inline-block">or</span>
			<a href="{{site.url}}/contact/" class="btn btn--white">Contact us online</a>
		</div>
	</div>
</div>


<footer class="p-4 font-semibold leading-loose text-center text-white bg-primary md:p-10 md:py-16 lg:px-0 lg:text-left">

	<div class="container flex-wrap pt-12 lg:flex lg:pt-0">

		<div class="relative w-full pt-8 mb-8 lg:w-3/12 after:absolute after:top-0 after:left-1/2 lg:after:left-0 lg:after:translate-x-0 after:-translate-x-1/2 after:w-[30px] after:h-[2px] after:bg-white"> 
			<ul>
				{% for item in primaryMenu.items %}
					<li class="{{item.class}}">
						<a href="{{item.url}}" class="hover:text-secondary">{{item.name}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="relative w-full pt-8 mb-8 lg:w-3/12 after:absolute after:top-0 after:left-1/2 lg:after:left-0 lg:after:translate-x-0 after:-translate-x-1/2 after:w-[30px] after:h-[2px] after:bg-white">
			{% include "_components/social-links.twig" with {
				linkClasses: 'block hover:text-secondary',
			} %}
		</div>

		<div class="relative w-full pt-8 mb-8 lg:w-3/12 after:absolute after:top-0 after:left-1/2 lg:after:left-0 lg:after:translate-x-0 after:-translate-x-1/2 after:w-[30px] after:h-[2px] after:bg-white">
			<p>{{ function('address_stacked') }}</p>

			{% set today = 'now'|date('l')|lower %}
			<p class="my-8">{{function('icon', 'clock', 'text-secondary mr-1')}} {{openingHours[today]}}</p>

			{% include "_components/phone-number.twig" %}
		</div>

	</div>

	<div class="container lg:flex lg:flex-wrap">

		<div class="w-full mb-8 lg:w-3/12">
			<a aria-label="Go to homepage" class="block lg:inline-block" href="{{site.site_url}}">
				<img width="417" height="100" class="mx-auto lazyload" src="" data-src="{{theme.link}}/_resources/images/logo-light.png" alt="{{site.title}} Logo" />
			</a>
		</div>

		<div class="flex flex-col items-center w-full mb-8 lg:flex-row lg:w-9/12 lg:justify-end lg:text-sm">
			
			<a class="hover:text-secondary" href="{{site.url}}/privacy-policy/">Privacy Policy</a>
			
			<span class="hidden lg:inline-block bg-secondary rounded-full w-1 h-1 mx-4 text-indent-[1000px]"></span>
			
			<a class="hover:text-secondary" href="{{site.url}}/terms-conditions/">Terms &amp; Conditions</a>
			
			<span class="hidden lg:inline-block bg-secondary rounded-full w-1 h-1 mx-4 text-indent-[1000px]"></span>
			
			<p>&copy; {{site.title}} {{ 'now' | date('Y') }}. All Rights Reserved. Company Registered Number: <span class="text-secondary">{{options.reg_number}}</span></p>
		</div>

	</div>

</footer>

<a id="back-top" class="fixed z-50 p-2 -mb-20 text-center transition-all duration-1000 opacity-0 bg-primary-dark bottom-4 right-4 hover:opacity-50" href="javascript:">
	<span class="text-sm text-white no-underline">
		{{ function('icon', 'angle-up', 'w-4 h-4') }}
		<span class="block font-serif">Top</span>
	</span>
</a>

<div id="pixel-to-watch"></div>
