<div class="relative bg-primary lg:mt-[-5px] xl:mt-[-15px] text-white flex flex-wrap text-center hero">

  <div class="hidden lg:block lg:w-1/2 2xl:w-1/3 bg-primary-light">
    <img class="object-cover object-center w-full h-full" src="{{imageLeft.url}}" alt="{{site.title}}">
  </div>

  <div
    class="w-full lg:w-1/2 p-4 py-16 2xl:w-1/3 2xl:px-12 3xl:p-24 order-[-1] 2xl:order-1 flex flex-col justify-center">

    <p class="h1">{{heading}}</p>

    {% if subheading %}
      <p class="my-8 font-semibold">{{subheading}}</p>
    {% endif %}

    {% if heroButton %}
      <a href="{{heroButtonDestination.url}}" class="mx-auto btn btn--secondary">{{heroButtonText}}</a>
    {% endif %}

  </div>

  <div class="hidden w-1/3 2xl:order-2 2xl:block bg-primary-light">
    <img class="object-cover object-center w-full h-full" src="{{imageRight.url}}" alt="{{site.title}}">
  </div>

</div>