<div class="flex-none w-full px-5 sm:w-1/2 lg:w-1/3 carousel-item">

    <a href="#" class="p-5 {{darkBg ? 'text-white' : '' }}">
        <div class="mb-4">
            <img src="" class="object-cover object-center w-full h-full lazyload" data-src="{{image}}" alt="{{title}}">
        </div>

        <h4
            class="inline-block relative font-sans leading-snug after:absolute after:bg-tertiary after:w-1/6 after:h-[2px] after:bottom-[-4px] after:left-0 mb-4">
            {{title}}</h4>
        {{excerpt}}
    </a>

</div>