 {% if options.social_twitter %}
  <a rel="noopener noreferrer" aria-label="Twitter" target="_blank" class="{{ linkClasses }}" href="{{ options.social_twitter }}" onClick="gtag('event' , 'click' , { 'event_category' : 'Twitter footer link', 'event_label' : 'Twitter Footer Link' });">Twitter</a>
{% endif %}

{% if options.social_facebook %}
  <a rel="noopener noreferrer" aria-label="Facebook" target="_blank" class="{{ linkClasses }}" href="{{ options.social_facebook }}" onClick="gtag('event' , 'click' , { 'event_category' : 'Facebook footer link', 'event_label' : 'Facebook Footer Link' });">Facebook</a>
{% endif %}

{% if options.social_instagram %}
  <a rel="noopener noreferrer" aria-label="Instagram" target="_blank" class="{{ linkClasses }}" href="{{ options.social_instagram }}">Instagram</a>
{% endif %}

{% if options.social_youtube %}
  <a rel="noopener noreferrer" aria-label="YouTube" target="_blank" class="{{ linkClasses }}" href="{{ options.social_youtube }}">Youtube</a>
{% endif %}

{% if options.social_pinterest %}
  <a rel="noopener noreferrer" aria-label="Pinterest" target="_blank" class="{{ linkClasses }}" href="{{ options.social_pinterest }}">Pinterest</a>
{% endif %}

{% if options.social_linkedin %}
 <a rel="noopener noreferrer" aria-label="LinkedIn" target="_blank" class="{{ linkClasses }}" href="{{ options.social_linkedin }}">Linkedin</a>
{% endif %}


