<div class="relative w-full p-4 sm:p-8 z-1 sm:w-1/2 lg:w-1/3">
    <div class="h-full bg-white border-b-8 border-secondary">
        <img class="w-full lazyload" src="" data-src="{{image.sizes.medium_large}}" alt="{{name}}">
        
        <div class="p-4 sm:p-8">
            <p class="mb-0 leading-tight h4">{{name}}</p>
            <p class="font-serif text-primary-lightest">{{role}}</p>
            <div class="mt-4 copy">
                {{bio}}
            </div>
        </div>
        
    </div>
</div>