<div class="overflow-hidden ">

    <div class="container py-16 max-w-screen-3xl md:py-24">

        <div class="flex flex-wrap items-center justify-center">

            <div class="z-10 order-2 w-full md:w-1/3 md:order-1 lg:-mr-12">

                <div class="p-8 text-white copy bg-primary">

                    <span class="block tracking-wider uppercase text-tertiary">{{options.video_subheading}}</span>

                    <h3>{{options.video_heading}}</h3>


                    <p>{{options.video_blurb}}</p>
                    
                </div>

            </div>

            <div class="order-1 w-full mb-4 md:w-7/12 md:order-2 md:mb-0">

                {% if options.video_type == "media_library" %}

                    <video controls preload="none" class="w-full mb-5 md:mb-0" poster="{{options.video_poster_image.sizes.medium_large}}">

                        <source src="{{options.video_from_library.url}}" type="video/mp4">

                        Sorry, your browser doesn't support embedded videos.

                    </video>

                {% else %}

                    <div class="h-[300px] lg:h-[600px] bg-gray-100 video-embed">

                        {{options.embed_code}}

                    </div>

                {% endif %}

            </div>
            
        </div>
        
    </div>
    
</div>